<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

</head>

<body>

    <div th:replace="~{/fragment/title :: header}"></div>
    <br>
    <div class="main-content">
        <link rel="stylesheet" href="/CSS/ID_1.css">
        <div class="article-container">
            <h1 th:text="${blog.title}">白ワンピースと青い海。日常を脱出して、私を甘やかす夏旅へ</h1>
            <img th:src="@{'/image/' + ${blog.image}}" th:alt="${blog.title}" width="100px">

            <p class="body-text" th:text="${blog.text}">
                うだるような暑さが続く毎日。ふと「どこか遠くへ行きたいな」なんてため息が漏れてしまうことはありませんか？そんな時、私の頭に浮かぶのは、決まって真っ青な海と白いワンピースの組み合わせです。
                普段の生活では汚れが気になって敬遠しがちな白い服も、太陽が降り注ぐ夏の海辺なら話は別。むしろ景色に溶け込んで引き立ててくれる最高の主役になります。
                今回憧れるのは、イタリアの海岸沿いにあるような、崖に寄り添うカラフルな街並み。時計を気にせず、ただ自分の「ときめき」に従って歩く時間こそ大人の旅の醍醐味です。海を見下ろすテラス席できりっと冷えた白ワインを味わえば、日々の忙しさで置き去りにしていた五感がゆっくりと満たされていくのを感じます。
                今年の夏は、あなたもクローゼットに眠っている白いワンピースを着て、新しい景色に会いに行きませんか？どこまでも続く青い海が、きっとあなたを待っています。
            </p>
            <p class="author" th:text="${blog.author}">水野 遥</p>
        </div>

    </div>

    <body>


</html>