<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

</head>

<body>

    <div th:replace="~{/fragment/title :: header}"></div>
    <br>
    <link rel="stylesheet" href="/CSS/home.css">
    <div class="main">
        <h1>このサイトについて</h1>
            <p>日常に、小さなお気に入りとインスピレーションを。
                <br>
                当サイトは、旅・暮らし・カルチャー・ライフスタイルなど、日々の暮らしを彩るさまざまなトピックスをお届けする情報発信メディアです。
                <br>
                「日常を少しだけ特別にする」をテーマに、国内外の美しい風景、明日試したくなるアイデア、心がじんわり温まるコラムなどを幅広くピックアップしています。
                <br>
                たくさんのトピックスの中から、あなたの日々に寄り添う素敵なお気に入りの記事が見つかりますように。
            </p>
    </div>
</body>
</html>