<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
    <div th:replace="~{/fragment/title :: header}"></div>


    <div class="main">
        <h1>おすすめ</h1>
        <div class="block" th:each="blog : ${blogs}">
            <a th:href="@{blog/{id}(id=${blog.id})}">
                <img th:src="${blog.image}" th:alt="${blog.title}" width="100px">
                <div class="text-content">
                    <h2 class="title" th:text="${blog.title}">白ワンピースと青い海。日常を脱出して、私を甘やかす夏旅へ</h2>

                    <p class="author" th:text="${blog.author}">水野 遥</p>
                    <p class="created_at" th:text="${blog.created_at}">日にち</p>
                </div>
        </div>
        </a>
    </div>
</body>

</html>